exp/*
exp_wiki40b/*
exp_decay/*
exp_decay_new/*
wandb/*
*/exp/*
*/exp_climb/*
*/exp_climb_small/*
*/exp_slimpj/*
*/exp_two_stage/*
*/exp_wiki40b/*
*/wandb/*
*/plots/*
*/data/datasets/*
*/__pycache__/*
*/*/__pycache__/*
src/trainer_old.py
src/data/datasets/*
*/src/data/datasets/*
media/*
toy_exp/*
toy_mtl/*
eval_results/*
scripts/*
config/decay/*
config/multilingual/*
*/*.ipynb